:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --gray-color: #F3F1F1;
  --yellow-color: #F8DA5B;
  --pink-color: #DE97A8;
  --blue-color: #82c0d5;
  --montserrat: 'Montserrat', serif;
}

body {
  font-family: var(--montserrat);
}

.header {
  color: var(--white-color);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid var(--gray-color);
  position: absolute;
}

.header__logo {
  margin-bottom: 1rem;
}

.header__nav {
  text-align: center;
}

.header__link {
  font-size: 1.1rem;
  display: inline-block;
  margin-right: .7rem;
  margin-bottom: 1.25rem;
  margin-left: .7rem;
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.button {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.button-white {
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.button-pink {
  border: 1px solid var(--pink-color);
  color: var(--pink-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow-color);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.footer__social {
  display: flex;
}

.footer__midia {
  display: block;
  width: 30px;
  height: 30px;
  margin: 2rem 1rem;
}

.footer__nav {
  color: var(--black-color);
  text-align: center;
  line-height: 3;
}

.footer__link {
  display: inline-block;
  margin: 0 .5rem .7rem;
}
.first__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 12.25rem;
  padding-bottom: 2.5rem;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.second__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-color);
  color: var(--black-color);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.third__section {
  background-color: var(--pink-color);
  color: var(--white-color);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.fourth__section {
  background-color: var(--white-color);
  color: var(--black-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.section__title {
  font-family: var(--montserrat);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.section__text {
  font-size: 1.25rem;
  line-height: normal;
  margin: 0 auto 2.5rem;
}

.section__link {
  width: 100%;
}

.section__title2 {
  font-family: var(--montserrat);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.section__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.section__panel-image {
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 10px 5px #00000020;
  margin-bottom: .5rem;
}

.section__panel-text {
  font-family: var(--montserrat);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}


.section__title4 {
  color: var(--cinza-escuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.section__text4 {
  line-height: normal;
  margin-bottom: 1rem;
}


.section__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}


.fifth__section {
  background-color: var(--gray-color);
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.section__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  width: 100%;
  max-width: 300px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 2px #00000010;
}

.card__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: .75rem 0;
  margin-bottom: .5rem;
  border-bottom: 1px solid var(--yellow-color);
}

.card__content {
  padding: 0 15%;
}

.card__price {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.card__text {
  color: var(--black-color);
  line-height: 28px;
}

.card__button {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  align-self: center;
  padding: .75rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 640px) {
  .first__section {
    padding-top: 14.25rem;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .section__text {
    max-width: 600px;
  }

  .card {
    max-width: 500px;
  }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  
  .section__list {
    justify-content: space-between;
  }

  .section__cards {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card {
    max-width: 300px;
  }
}